*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* eta dewar karon padding onnanno kono style dile box er vitorei content thakbe bahire jabena */
}


.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3 ;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat ;
    background-position: 38px 23px, bottom right;
    padding-top: 50px;
    vertical-align:auto;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-size: 45px;
  font-weight: 800;
}
.color-orange{
  color: #FD6E0A;
}

nav .menu{
  display: flex;
  list-style: none;
  gap:51px ;
  align-items: center;
}

nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

.btn, .banner-button{
  border-radius: 5px;
  background-color: #FD6E0A;
  padding:18.28px 35px 19.3px 36px ;
  font-weight: bold;
  color: white;
  font-size: 20px;
  border: none;
  align-items: center;
  cursor: pointer;
}

#banner{
  margin: 46px 38px 0px 230px ;
  display: flex;
  justify-content: space-between;
}
#banner .banner-content{
  max-width: 585px;
  height:356px ;
  margin-top: 182px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}
#banner .banner-content p{
  font-size: 18px;
  margin-bottom: 20px;
  color:#757575;
  margin-bottom: 30px;
}

#banner .banner-img{
  max-width: 584px;
  height: 676px;
  vertical-align: middle;
}

#banner .banner-btn{
  display: flex;
  gap: 30px;
}

#about{
  padding: 130px;
}
.about-container{
  width:71% ;
  max-width: 1150;
  padding: 131px 56px;
  margin: 0px auto;
  text-align: center;
  background-color: #FFF8F3;
  border-radius: 10px;
  
}
.about-container .section-heading h2{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;

}
.about-container .section-heading p{
  margin-bottom: 30px;
}
.about-info{
  max-width: 782px;
  height: 60px;
  margin: 0px auto;
  gap: 50px;
}
.about-container .about-info{
  display: flex;
}

.about-info .info-card p{
      font-size: 20px;

    line-height: 30px;
    color: #757575
}

.about-info .info-card h4 {
    font-size: 20px;
}


#skills .skill-container{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
}

#skills .content-heading{
  text-align: center;
  margin-bottom: 50px;
}

.content-heading h2{
  font-size: 35px;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

.content-heading p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

#skills .card-container{
  display: flex;
  gap: 24px;
}
.card-container .card{
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 50px 0 #00000011;
  max-width: 267px;
}

.card-container .card h4{
  font-size:20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}
